/* Coolors Exported Palette - https://coolors.co/b5b6bf-676668-18191d-474648-cbcbcb-2f3032-fdfdfe-7c82c4-d8d9dd-ededed */

/* CSS HEX */
--french-gray: #B5B6BFff;
--dim-gray: #676668ff;
--eerie-black: #18191Dff;
--davys-gray: #474648ff;
--silver: #CBCBCBff;
--jet: #2F3032ff;
--white: #FDFDFEff;
--glaucous: #7C82C4ff;
--platinum: #D8D9DDff;
--antiflash-white: #EDEDEDff;

/* CSS HSL */
--french-gray: hsla(234, 7%, 73%, 1);
--dim-gray: hsla(270, 1%, 40%, 1);
--eerie-black: hsla(228, 9%, 10%, 1);
--davys-gray: hsla(270, 1%, 28%, 1);
--silver: hsla(0, 0%, 80%, 1);
--jet: hsla(220, 3%, 19%, 1);
--white: hsla(240, 33%, 99%, 1);
--glaucous: hsla(235, 38%, 63%, 1);
--platinum: hsla(228, 7%, 86%, 1);
--antiflash-white: hsla(0, 0%, 93%, 1);

/* SCSS HEX */
$french-gray: #B5B6BFff;
$dim-gray: #676668ff;
$eerie-black: #18191Dff;
$davys-gray: #474648ff;
$silver: #CBCBCBff;
$jet: #2F3032ff;
$white: #FDFDFEff;
$glaucous: #7C82C4ff;
$platinum: #D8D9DDff;
$antiflash-white: #EDEDEDff;

/* SCSS HSL */
$french-gray: hsla(234, 7%, 73%, 1);
$dim-gray: hsla(270, 1%, 40%, 1);
$eerie-black: hsla(228, 9%, 10%, 1);
$davys-gray: hsla(270, 1%, 28%, 1);
$silver: hsla(0, 0%, 80%, 1);
$jet: hsla(220, 3%, 19%, 1);
$white: hsla(240, 33%, 99%, 1);
$glaucous: hsla(235, 38%, 63%, 1);
$platinum: hsla(228, 7%, 86%, 1);
$antiflash-white: hsla(0, 0%, 93%, 1);

/* SCSS RGB */
$french-gray: rgba(181, 182, 191, 1);
$dim-gray: rgba(103, 102, 104, 1);
$eerie-black: rgba(24, 25, 29, 1);
$davys-gray: rgba(71, 70, 72, 1);
$silver: rgba(203, 203, 203, 1);
$jet: rgba(47, 48, 50, 1);
$white: rgba(253, 253, 254, 1);
$glaucous: rgba(124, 130, 196, 1);
$platinum: rgba(216, 217, 221, 1);
$antiflash-white: rgba(237, 237, 237, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #B5B6BFff, #676668ff, #18191Dff, #474648ff, #CBCBCBff, #2F3032ff, #FDFDFEff, #7C82C4ff, #D8D9DDff, #EDEDEDff);
$gradient-right: linear-gradient(90deg, #B5B6BFff, #676668ff, #18191Dff, #474648ff, #CBCBCBff, #2F3032ff, #FDFDFEff, #7C82C4ff, #D8D9DDff, #EDEDEDff);
$gradient-bottom: linear-gradient(180deg, #B5B6BFff, #676668ff, #18191Dff, #474648ff, #CBCBCBff, #2F3032ff, #FDFDFEff, #7C82C4ff, #D8D9DDff, #EDEDEDff);
$gradient-left: linear-gradient(270deg, #B5B6BFff, #676668ff, #18191Dff, #474648ff, #CBCBCBff, #2F3032ff, #FDFDFEff, #7C82C4ff, #D8D9DDff, #EDEDEDff);
$gradient-top-right: linear-gradient(45deg, #B5B6BFff, #676668ff, #18191Dff, #474648ff, #CBCBCBff, #2F3032ff, #FDFDFEff, #7C82C4ff, #D8D9DDff, #EDEDEDff);
$gradient-bottom-right: linear-gradient(135deg, #B5B6BFff, #676668ff, #18191Dff, #474648ff, #CBCBCBff, #2F3032ff, #FDFDFEff, #7C82C4ff, #D8D9DDff, #EDEDEDff);
$gradient-top-left: linear-gradient(225deg, #B5B6BFff, #676668ff, #18191Dff, #474648ff, #CBCBCBff, #2F3032ff, #FDFDFEff, #7C82C4ff, #D8D9DDff, #EDEDEDff);
$gradient-bottom-left: linear-gradient(315deg, #B5B6BFff, #676668ff, #18191Dff, #474648ff, #CBCBCBff, #2F3032ff, #FDFDFEff, #7C82C4ff, #D8D9DDff, #EDEDEDff);
$gradient-radial: radial-gradient(#B5B6BFff, #676668ff, #18191Dff, #474648ff, #CBCBCBff, #2F3032ff, #FDFDFEff, #7C82C4ff, #D8D9DDff, #EDEDEDff);